body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

/* Estilos do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999; /* Certifique-se de que o modal tenha um z-index mais alto que o mapa */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    z-index: 10000; /* Garantir que o conteúdo do modal tenha o z-index mais alto */
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: darkred;
}

/* Estilos do botão dentro do mapa */
.leaflet-control-custom {
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}