<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defesa Civil</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Mapa Leaflet -->
    <div id="map"></div>

    <!-- Offcanvas do Bootstrap -->
    <div class="offcanvas offcanvas-top h-75 shadow-sm" tabindex="-1" id="offcanvasForm" aria-labelledby="offcanvasFormLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasFormLabel">Formulário de Cadastro</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form id="formCadastro" action="/cadastrar" method="post">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="latitude" class="form-label">Latitude:</label>
                    <input type="text" class="form-control" id="latitude" name="latitude" readonly>
                </div>
                <div class="mb-3">
                    <label for="longitude" class="form-label">Longitude:</label>
                    <input type="text" class="form-control" id="longitude" name="longitude" readonly>
                </div>
                <div class="mb-3">
                    <label for="formato" class="form-label">Formato:</label>
                        <select class="form-select" id="formato" name="formato">
                            <option value="greenCircle">greenCircle</option>
                            <option value="greenSquare">greenSquare</option>
                            <option value="greenTriangle">greenTriangle</option>
                            <option value="yellowCircle">yellowCircle</option>
                            <option value="yellowSquare">yellowSquare</option>
                            <option value="yellowTriangle">yellowTriangle</option>
                            <option value="redCircle">redCircle</option>
                            <option value="redSquare">redSquare</option>
                            <option value="redTriangle">redTriangle</option>
                        </select>
                </div>
                <div class="mb-3">
                    <label for="imagens" class="form-label">Imagens</label>
                    <input type="file" class="form-control" id="imagens" name="imagens" multiple accept="image/*">
                </div>
                <button type="submit" value="Cadastrar" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Inicializando o mapa e configurando a posição inicial e o nível de zoom
        var map = L.map('map', {
            zoomControl: false // Desativa os controles de zoom padrão
        }).setView([-23.79, -45.40], 13); // São Paulo como exemplo

        // Camada do OpenStreetMap
        var openStreetMapLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });

        // Camada do Esri World Imagery (satélite) corrigida
        var esriWorldImageryLayer = L.tileLayer('https://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        });

        // Adiciona o OpenStreetMap como camada inicial
        openStreetMapLayer.addTo(map);

        // Variáveis para armazenar as coordenadas
        var lastLat = null;
        var lastLng = null;

        // Função para lidar com o clique no mapa
        function onMapClick(e) {
            lastLat = e.latlng.lat; // Armazenando a latitude do clique
            lastLng = e.latlng.lng; // Armazenando a longitude do clique

            // Preenchendo os campos do formulário com as coordenadas
            document.getElementById('latitude').value = lastLat;
            document.getElementById('longitude').value = lastLng;

            // Abrindo o offcanvas quando o mapa é clicado
            var offcanvasElement = new bootstrap.Offcanvas(document.getElementById('offcanvasForm'));
            offcanvasElement.show();
        }

        // Adicionando o evento de clique no mapa
        map.on('click', onMapClick);

        // Controle customizado para alternar entre as camadas de mapa
        var customControl = L.Control.extend({
            options: {
                position: 'topleft'  // Posição do controle no canto superior esquerdo
            },

            onAdd: function (map) {
                var container = L.DomUtil.create('div', 'leaflet-control-custom');

                // Criando o botão para abrir o formulário
                var btnForm = L.DomUtil.create('button', 'btn btn-primary mb-2', container);
                btnForm.innerHTML = 'Abrir Formulário';
                btnForm.style.padding = '10px';

                // Função para abrir o offcanvas quando o botão for clicado
                btnForm.onclick = function(e) {
                    L.DomEvent.stopPropagation(e); // Evita que o evento de clique se propague para o mapa

                    // Apenas abre o offcanvas se as coordenadas já tiverem sido clicadas
                    if (lastLat !== null && lastLng !== null) {
                        // Preenchendo os campos do formulário com as coordenadas armazenadas
                        document.getElementById('latitude').value = lastLat;
                        document.getElementById('longitude').value = lastLng;

                        // Abrindo o offcanvas
                        var offcanvasElement = new bootstrap.Offcanvas(document.getElementById('offcanvasForm'));
                        offcanvasElement.show();
                    } else {
                        alert("Por favor, clique no mapa para definir as coordenadas antes de abrir o formulário.");
                    }
                };

                // Criando o botão para alternar entre as camadas de mapa
                var btnLayerToggle = L.DomUtil.create('button', 'btn btn-secondary', container);
                btnLayerToggle.innerHTML = 'Alternar Mapa';
                btnLayerToggle.style.padding = '10px';

                var currentLayer = 'osm'; // Variável para controlar qual camada está ativa

                // Função para alternar entre OpenStreetMap e Esri World Imagery
                btnLayerToggle.onclick = function(e) {
                    L.DomEvent.stopPropagation(e); // Evita que o clique no botão seja interpretado como clique no mapa

                    if (currentLayer === 'osm') {
                        map.removeLayer(openStreetMapLayer);
                        esriWorldImageryLayer.addTo(map);
                        currentLayer = 'esri';
                    } else {
                        map.removeLayer(esriWorldImageryLayer);
                        openStreetMapLayer.addTo(map);
                        currentLayer = 'osm';
                    }
                };

                return container;
            }
        });

        // Adicionando o controle customizado ao mapa
        map.addControl(new customControl());

        // Adicionando controles de zoom no canto superior direito
        L.control.zoom({
            position: 'topright' // Posiciona os controles de zoom no canto superior direito
        }).addTo(map);

        // Função para enviar os dados do formulário e adicionar o marker
        document.getElementById('formCadastro').addEventListener('submit', function(event) {
            event.preventDefault(); // Previne o recarregamento da página

            const formData = new FormData();
    
            formData.append('nome', document.getElementById('nome').value);
            formData.append('email', document.getElementById('email').value);
            formData.append('latitude', document.getElementById('latitude').value);
            formData.append('longitude', document.getElementById('longitude').value);
            formData.append('formato', document.getElementById('formato').value);

            const imagens = document.getElementById('imagens').files;
            for (let i = 0; i < imagens.length; i++) {
                formData.append('imagens', imagens[i]);
            }

            fetch('http://localhost:5000/cadastrar', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
        

            // Limpa o formulário
            document.getElementById('formCadastro').reset();

            // Fecha o formulário (offcanvas)
            var offcanvasElement = bootstrap.Offcanvas.getInstance(document.getElementById('offcanvasForm'));
            offcanvasElement.hide();

            // Recarrega a página após um pequeno atraso (500ms) para garantir que tudo foi atualizado
            setTimeout(function() {
                window.location.reload();
            }, 500);
        });

        var tam = 40 //Tamanho do ícone
        var met = tam/2 //Colocação do ícone relativa a localização real

        var greenCircle = L.icon({
            iconUrl: '/static/imagens/green_cl.png',

            iconSize:     [tam, tam],
            iconAnchor:   [met, met],
            popupAnchor:  [-1, -1]
        });

        var greenSquare = L.icon({
            iconUrl: '/static/imagens/green_sq.png',

            iconSize:     [tam, tam],
            iconAnchor:   [met, met],
            popupAnchor:  [-1, -1]
        });

        var greenTriangle = L.icon({
            iconUrl: '/static/imagens/green_tr.png',

            iconSize:     [tam, tam],
            iconAnchor:   [met, met],
            popupAnchor:  [-1, -1]
        });

        var yellowCircle = L.icon({
            iconUrl: '/static/imagens/yellow_cl.png',

            iconSize:     [tam, tam],
            iconAnchor:   [met, met],
            popupAnchor:  [-1, -1]
        });

        var yellowSquare = L.icon({
            iconUrl: '/static/imagens/yellow_sq.png',

            iconSize:     [tam, tam],
            iconAnchor:   [met, met],
            popupAnchor:  [-1, -1]
        });

        var yellowTriangle = L.icon({
            iconUrl: '/static/imagens/yellow_tr.png',

            iconSize:     [tam, tam],
            iconAnchor:   [met, met],
            popupAnchor:  [-1, -1]
        });

        var redCircle = L.icon({
            iconUrl: '/static/imagens/red_cl.png',

            iconSize:     [tam, tam],
            iconAnchor:   [met, met],
            popupAnchor:  [-1, -1]
        });

        var redTriangle = L.icon({
            iconUrl: '/static/imagens/red_tr.png',

            iconSize:     [tam, tam],
            iconAnchor:   [met, met],
            popupAnchor:  [-1, -1]
        });

        var redSquare = L.icon({
            iconUrl: '/static/imagens/red_sq.png',

            iconSize:     [tam, tam],
            iconAnchor:   [met, met],
            popupAnchor:  [-1, -1]
        });
    </script>

    <!-- Coloca os marcadores no lugar -->
    {% for m in range(0, marcador[0]) %}
        <script>
            var lat = {{ marcador[1][m][2]|tojson }}; //Variável latitude trazida do banco de dados
            var lng = {{ marcador[1][m][3]|tojson }}; //Variável longitude trazida do banco de dados
            var forma = {{ marcador[1][m][4]}}; //Formato do ícone trazido do banco de dados
            var marker = L.marker([lat, lng], {icon: forma}).addTo(map);
            marker.bindPopup("<buttton id='btnGerarPDF' class='btn btn-primary'>Gerar Relatório</button>").openPopup();
        </script>
    {% endfor %}
</body>
</html>