<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defesa Civil</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Mapa Leaflet -->
    <div id="map"></div>

    <!-- Offcanvas do Formulário -->
    <div class="offcanvas offcanvas-top h-75 shadow-sm" tabindex="-1" id="offcanvasForm" aria-labelledby="offcanvasFormLabel">
        <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="offcanvasFormLabel">Formulário de Cadastro</h4>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form id="formCadastro" action="/cadastrar" method="post">

                <!-- Subdivisão Dados do Chamado -->
                <div class="mb-3">
                    <h5 id="DadosDoChamado">Dados do Chamado</h5>

                    <!-- Campo Data do Chamado -->
                    <div class="mb-3">
                        <label for="data" class="form-label">Data:</label>
                        <input type="date" class="form-control" id="data" name="data" required>
                    </div>

                    <!-- Campo Origem do Chamado -->
                    <div class="mb-3">
                        <label for="origem" class="form-label">Origem do chamado:</label>
                            <select class="form-select" id="origem" name="origem">
                                <option value="COI">COI</option>
                                <option value="CONDEC">CONDEC</option>
                                <option value="Ministério Público">Ministério Público</option>
                                <option value="Defensoria Pública">Defensoria Pública</option>
                                <option value="Processo Judicial">Processo Judicial</option>
                                <option value="Processo Administrativo">Processo Administrativo</option>
                                <option value="Ofício">Ofício</option>
                                <option value="Memorando">Memorando</option>
                            </select>
                    </div>
                </div>

                <!-- Subdivisão Dados do Solicitante -->
                <div class="mb-3">
                    <h5 id="DadosDoChamado">Dados do Solicitante</h5>

                    <!-- Campo Nome -->
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome:</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>

                    <!-- Campo CPF/CNPJ -->
                    <div class="mb-3">
                        <label for="documento" class="form-label">CPF/CNPJ:</label>
                        <input type="text" class="form-control" id="documento" name="documento" required>
                    </div>

                    <!-- Campo Telefone 1 -->
                    <div class="mb-3">
                        <label for="telefone1" class="form-label">Telefone 1:</label>
                        <input type="tel" class="form-control" id="telefone1" name="telefone1">
                    </div>

                    <!-- Campo Telefone 2 -->
                    <div class="mb-3">
                        <label for="telefone2" class="form-label">Telefone 2:</label>
                        <input type="tel" class="form-control" id="telefone2" name="telefone2">
                    </div>

                    <!-- Campo Email -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                </div>

                <!-- Subdivisão Dados da Ocorrência -->
                <div class="mb-3">
                    <h5 id="DadosDoChamado">Dados da Ocorrência</h5>

                    <!-- Campo Logradouro -->
                    <div class="mb-3">
                        <label for="logradouro" class="form-label">Logradouro</label>
                        <input type="text" class="form-control" id="logradouro" name="logradouro" required>
                    </div>

                    <!-- Campo Número da Residência -->
                    <div class="mb-3">
                        <label for="numero" class="form-label">Número</label>
                        <input type="text" class="form-control" id="numero" name="numero" required>
                    </div>

                    <!-- Campo Bairro -->
                    <div class="mb-3">
                        <label for="bairro" class="form-label">Bairro</label>
                        <input type="text" class="form-control" id="bairro" name="bairro" required>
                    </div>

                    <!-- Campo Complemento -->
                    <div class="mb-3">
                        <label for="complemento" class="form-label">Complemento</label>
                        <input type="text" class="form-control" id="complemento" name="complemento">
                    </div>

                    <!-- Campo Ponto de Referência -->
                    <div class="mb-3">
                        <label for="ponto_referencia" class="form-label">Ponto de Referência</label>
                        <input type="text" class="form-control" id="ponto_referencia" name="ponto_referencia">
                    </div>

                    <!-- Campo Latitude -->
                    <div class="mb-3">
                        <label for="latitude" class="form-label">Latitude:</label>
                        <input type="text" class="form-control" id="latitude" name="latitude" readonly>
                    </div>

                    <!-- Campo Longitude -->
                    <div class="mb-3">
                        <label for="longitude" class="form-label">Longitude:</label>
                        <input type="text" class="form-control" id="longitude" name="longitude" readonly>
                    </div>

                    <!-- Campo Ocorrência -->
                    <div class="mb-3">
                        <label for="ocorrencia" class="form-label">Ocorrência</label>
                        <textarea class="form-control" id="ocorrencia" name="ocorrencia" rows="4" required></textarea>
                    </div>

                    <!-- Campo Prioridade -->
                    <div class="mb-3">
                        <label for="prioridade" class="form-label">Prioridade:</label>
                            <select class="form-select" id="prioridade" name="prioridade">
                                <option value="Alta">Alta</option>
                                <option value="Média">Média</option>
                                <option value="Baixa">Baixa</option>
                            </select>
                    </div>

                    <!-- Campo Área -->
                    <div class="mb-3">
                        <label for="area" class="form-label">Área:</label>
                            <select class="form-select" id="area" name="area">
                                <option value="Particular">Particular</option>
                                <option value="Pública">Pública</option>
                            </select>
                    </div>

                    <!-- Campo PMRR -->
                    <div class="mb-3">
                        <label for="pmrr" class="form-label">PMRR</label>
                        <input type="text" class="form-control" id="pmrr" name="pmrr">
                    </div>

                    <!-- Campo Imagens -->
                    <div class="mb-3">
                        <label for="imagens" class="form-label">Imagens</label>
                        <input type="file" class="form-control" id="imagens" name="imagens" multiple accept="image/*">
                    </div>
                </div>

                <!-- Botão Cadastrar -->
                <button type="submit" value="Cadastrar" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>

    <!-- Offcanvas de busca -->
    <div class="offcanvas offcanvas-top h-75 shadow-sm" tabindex="-1" id="offcanvasSearch" aria-labelledby="offcanvasSearchLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasSearchLabel">Formulário de Cadastro</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="mb-3">
                <label for="searchNome" class="form-label">Nome do Cadastro</label>
                <input type="text" class="form-control" id="searchNome" placeholder="Digite o Nome do cadastro">
            </div>
            <button class="btn btn-primary" onclick="buscarCadastroPDF()">Buscar</button>  
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Inicializando o mapa e configurando a posição inicial e o nível de zoom
        var map = L.map('map', {
            zoomControl: false // Desativa os controles de zoom padrão
        }).setView([-23.79, -45.40], 13); // São Paulo como exemplo

        // Camada do OpenStreetMap
        var openStreetMapLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });

        // Camada do Esri World Imagery (satélite) corrigida
        var esriWorldImageryLayer = L.tileLayer('https://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        });

        // Adiciona o OpenStreetMap como camada inicial
        openStreetMapLayer.addTo(map);

        // Variáveis para armazenar as coordenadas
        var lastLat = null;
        var lastLng = null;

        // Função para lidar com o clique no mapa
        function onMapClick(e) {
            lastLat = e.latlng.lat; // Armazenando a latitude do clique
            lastLng = e.latlng.lng; // Armazenando a longitude do clique

            // Preenchendo os campos do formulário com as coordenadas
            document.getElementById('latitude').value = lastLat;
            document.getElementById('longitude').value = lastLng;

            // Abrindo o offcanvas quando o mapa é clicado
            var offcanvasElement = new bootstrap.Offcanvas(document.getElementById('offcanvasForm'));
            offcanvasElement.show();
        }

        // Adicionando o evento de clique no mapa
        map.on('click', onMapClick);

        // Adicionando os botões de controle do mapa
        var customControl = L.Control.extend({
            options: {
                position: 'topleft'  // Posição do controle no canto superior esquerdo
            },

            onAdd: function (map) {
                var container = L.DomUtil.create('div', 'leaflet-control-custom');

                // Criando o botão para abrir o formulário
                var btnForm = L.DomUtil.create('button', 'btn btn-primary mb-2', container);
                btnForm.innerHTML = 'Abrir Formulário';
                btnForm.style.padding = '10px';

                // Função para abrir o offcanvas quando o botão for clicado
                btnForm.onclick = function(e) {
                    L.DomEvent.stopPropagation(e); // Evita que o evento de clique se propague para o mapa

                    // Apenas abre o offcanvas se as coordenadas já tiverem sido clicadas
                    if (lastLat !== null && lastLng !== null) {
                        // Preenchendo os campos do formulário com as coordenadas armazenadas
                        document.getElementById('latitude').value = lastLat;
                        document.getElementById('longitude').value = lastLng;

                        // Abrindo o offcanvas
                        var offcanvasElement = new bootstrap.Offcanvas(document.getElementById('offcanvasForm'));
                        offcanvasElement.show();
                    } else {
                        alert("Por favor, clique no mapa para definir as coordenadas antes de abrir o formulário.");
                    }
                };

                // Criando o botão para alternar entre as camadas de mapa
                var btnLayerToggle = L.DomUtil.create('button', 'btn btn-secondary', container);
                btnLayerToggle.innerHTML = 'Alternar Mapa';
                btnLayerToggle.style.padding = '10px';

                var currentLayer = 'osm'; // Variável para controlar qual camada está ativa

                // Função para alternar entre OpenStreetMap e Esri World Imagery
                btnLayerToggle.onclick = function(e) {
                    L.DomEvent.stopPropagation(e); // Evita que o clique no botão seja interpretado como clique no mapa

                    if (currentLayer === 'osm') {
                        map.removeLayer(openStreetMapLayer);
                        esriWorldImageryLayer.addTo(map);
                        currentLayer = 'esri';
                    } else {
                        map.removeLayer(esriWorldImageryLayer);
                        openStreetMapLayer.addTo(map);
                        currentLayer = 'osm';
                    }
                };

                // Criando o botão para buscar
                var btnSearch = L.DomUtil.create('button', 'btn btn-primary mb-2', container);
                btnSearch.innerHTML = 'Buscar Cadastro';
                btnSearch.style.padding = '10px';

                // Função para abrir o offcanvas quando o botão for clicado
                btnSearch.onclick = function(e) {
                    L.DomEvent.stopPropagation(e); // Evita que o evento de clique se propague para o mapa

                    // Abrindo o offcanvas
                    var buscaOffcanvas = new bootstrap.Offcanvas(document.getElementById('offcanvasSearch'));
                    buscaOffcanvas.show();
                };

                return container;
            }
        });

        // Adicionando o controle customizado ao mapa
        map.addControl(new customControl());

        // Adicionando controles de zoom no canto superior direito
        L.control.zoom({
            position: 'topright' // Posiciona os controles de zoom no canto superior direito
        }).addTo(map);

        // Função para enviar os dados do formulário
        document.getElementById('formCadastro').addEventListener('submit', function(event) {
            event.preventDefault(); // Previne o recarregamento da página

            const formData = new FormData();
    
            formData.append('data', document.getElementById('data').value);
            formData.append('origem', document.getElementById('origem').value);
            formData.append('nome', document.getElementById('nome').value);
            formData.append('documento', document.getElementById('documento').value);
            formData.append('telefone1', document.getElementById('telefone1').value);
            formData.append('telefone2', document.getElementById('telefone2').value);
            formData.append('email', document.getElementById('email').value);
            formData.append('logradouro', document.getElementById('logradouro').value);
            formData.append('numero', document.getElementById('numero').value);
            formData.append('bairro', document.getElementById('bairro').value);
            formData.append('complemento', document.getElementById('complemento').value);
            formData.append('ponto_referencia', document.getElementById('ponto_referencia').value);
            formData.append('latitude', document.getElementById('latitude').value);
            formData.append('longitude', document.getElementById('longitude').value);
            formData.append('ocorrencia', document.getElementById('ocorrencia').value);
            formData.append('prioridade', document.getElementById('prioridade').value);
            formData.append('area', document.getElementById('area').value);
            formData.append('pmrr', document.getElementById('pmrr').value);

            const imagens = document.getElementById('imagens').files;
            for (let i = 0; i < imagens.length; i++) {
                formData.append('imagens', imagens[i]);
            }

            fetch('http://localhost:5000/cadastrar', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
        

            // Limpa o formulário
            document.getElementById('formCadastro').reset();

            // Fecha o formulário (offcanvas)
            var offcanvasElement = bootstrap.Offcanvas.getInstance(document.getElementById('offcanvasForm'));
            offcanvasElement.hide();

            // Recarrega a página após um pequeno atraso (500ms) para garantir que tudo foi atualizado
            setTimeout(function() {
                window.location.reload();
            }, 500);
        });

        function buscarCadastroPDF() {
            const searchNome = document.getElementById("searchNome").value;

            fetch(`http://localhost:5000/gerar_pdf?nome=${searchNome}`)
                .then(response => {
                    if (!response.ok) throw new Error("Erro ao gerar o PDF");
                    return response.blob();
                })
                .then(blob => {
                    // Cria um link temporário para baixar o PDF
                    const url = URL.createObjectURL(blob);
                    const link = document.createElement("a");
                    link.href = url;
                    link.download = `Cadastro_${searchNome}.pdf`;
                    link.click();
                    URL.revokeObjectURL(url); // Libera o URL temporário
                })
        }

        var tam = 40 //Tamanho do ícone
        var met = tam/2 //Colocação do ícone relativa a localização real

        var Baixa = L.icon({
            iconUrl: '/static/imagens/green_cl.png',

            iconSize:     [tam, tam],
            iconAnchor:   [met, met],
            popupAnchor:  [-1, -1]
        });

        var Média = L.icon({
            iconUrl: '/static/imagens/yellow_sq.png',

            iconSize:     [tam, tam],
            iconAnchor:   [met, met],
            popupAnchor:  [-1, -1]
        });

        var Alta = L.icon({
            iconUrl: '/static/imagens/red_tr.png',

            iconSize:     [tam, tam],
            iconAnchor:   [met, met],
            popupAnchor:  [-1, -1]
        });

        // JavaScript para definir a data atual no campo de data
        document.addEventListener('DOMContentLoaded', function() {
            const today = new Date().toISOString().split('T')[0];  // Formato YYYY-MM-DD
            document.getElementById('data').value = today;
        });
    </script>

    <!-- Coloca os marcadores no lugar -->
    {% for m in range(0, marcador[0]) %}
        <script>
            var lat = '{{ marcador[1][m][2]|tojson }}'; //Variável latitude trazida do banco de dados
            var lng = '{{ marcador[1][m][3]|tojson }}'; //Variável longitude trazida do banco de dados
            var forma = {{ marcador[1][m][4] }}; //Formato do ícone trazido do banco de dados
            var marker = L.marker([lat, lng], {icon: forma}).addTo(map);
            marker.bindPopup("<buttton id='btnGerarPDF' class='btn btn-primary'>Gerar Relatório</button>").openPopup();
        </script>
    {% endfor %}
</body>
</html>